{:tasks
 {:init (do (require '[clojure.string :as str])
            (def paths ["src/main" "src/test"])
            (defn assert-marked-bundled []
              (let [bundle (slurp "dist/pi-matrix-relay.js")]
                (when (or (str/includes? bundle "require(\"marked\")")
                          (str/includes? bundle "require('marked')"))
                  (throw (ex-info "dist/pi-matrix-relay.js must bundle marked; external require would fail when copied to .pi/extensions" {}))))))

  shadow-server (shell "./node_modules/.bin/shadow-cljs server")
  shadow-compile (shell "./node_modules/.bin/shadow-cljs compile :app")
  shadow-release (do
                   (shell "./node_modules/.bin/shadow-cljs release :app")
                   (assert-marked-bundled))
  shadow-test (do
                (shell "./node_modules/.bin/shadow-cljs compile test")
                (shell "node out/node-tests.js"))
  test {:depends [shadow-test]}
  lint {:doc "Lint ClojureScript with clj-kondo"
        :task (apply shell "clj-kondo --lint" (if (seq *command-line-args*) *command-line-args* paths))}
  install-local-extension {:depends [shadow-release]
                           :task (do
                                   (shell "mkdir -p ../.pi/extensions")
                                   (shell "cp dist/pi-matrix-relay.js ../.pi/extensions/pi-matrix-relay.js")
                                   (println "Installed ../.pi/extensions/pi-matrix-relay.js"))}
  shadow-node-repl (shell "npx shadow-cljs node-repl")}}
